SECRET_KEY=change-me-to-random-string
DJANGO_SETTINGS_MODULE=eifavpn.settings.dev

DB_NAME=eifavpn_dev
DB_USER=eifavpn_dev
DB_PASSWORD=change-me
DB_HOST=localhost
DB_PORT=5432

REMNAWAVE_API_URL=https://wavepanel.eifastore.ru/api
REMNAWAVE_BEARER_TOKEN=change-me

GOOGLE_CLIENT_ID=369104559883-foep6tlkl2uirlikhv8o32k19ev5pde8.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=change-me

TELEGRAM_BOT_TOKEN=change-me

APP_URL=https://dev.eifavpn.ru
ALLOWED_HOSTS=dev.eifavpn.ru,localhost,127.0.0.1
